<p id="notice"><%= notice %></p>

<h1>Recruit Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruit_lists.each do |recruit_list| %>
      <tr>
        <td><%= link_to 'Show', recruit_list %></td>
        <td><%= link_to 'Edit', edit_recruit_list_path(recruit_list) %></td>
        <td><%= link_to 'Destroy', recruit_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruit List', new_recruit_list_path %>
